.container {
  display: flex;
  justify-content: center;
  padding: 10px 0px 40px 0px;

  width: 100%;
  .wrapper {
    padding: 0px 20%;
    width: 100%;
    .header_wrapper {
      display: flex;
      flex-direction: column;
      .title {
        margin: 0px;
        padding: 10px 0px;
        font-family: 'Nunito Sans';
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        font-style: normal;
      }
      .subtitle {
        display: flex;
        margin: 0;
        opacity: 0.5;
        padding: 10px 0px;
      }
    }
    .navigator {
      width: 70%;
      display: flex;
      flex-direction: column;
      .input_searchLabel {
        width: 100%;
        .input_search {
          border-radius: 25px;
          padding: 5px 0px;
          text-indent: 10px;
          width: 100%;
          background-color: transparent;
          
          &::placeholder{
            font-family: 'FontAwesome';
          }
        }
      }
      .navigator_buttons {
        display: flex;
        justify-content: space-between;
        .title_buttons {
          margin: 0;
          font-family: 'Nunito Sans';
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
          font-style: normal;
          color: #272626;
        }
      }
    }
  }
  .section_card {
    .section_title {
      margin: 0;
      padding: 20px 0;
      font-family: 'Nunito Sans';
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      font-style: normal;
      color: #272626;
    }
  }
}


.active_button{
  cursor: pointer;
  padding: 2px 50px;
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  border-radius: 4px;
  transition: 0.3s;
  background-color: #2f80ac;
  color: #ffff;
}

.inactive_button {
  cursor: pointer;
  padding: 2px 50px;
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  color: #272626;
  border-radius: 4px;
  transition: 0.3s;
  background-color: transparent;
}
